.productCard .textPart {
  transition: transform 0.3s ease-out;
}

.productCard:hover .textPart {
  transform: translateY(-2rem);
}

.productCard:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}
